-const pages = ['Inicio', 'Servicios', 'Galeria', 'Contacto']
-let pageActive

-
    const swiperData = [
        {
            description: "Servicios de Agua",
            images: [
                "assets/img/h.jpg",
                "assets/img/o.jpg",
                "assets/img/l.jpg",
                "assets/img/a.jpg"
            ]
        },

        {
            description: "Servicios de Gas",
            images: [
                "https://swiperjs.com/demos/images/nature-1.jpg",
                "https://swiperjs.com/demos/images/nature-1.jpg",
                "https://swiperjs.com/demos/images/nature-1.jpg",
                "https://swiperjs.com/demos/images/nature-2.jpg",
                "https://swiperjs.com/demos/images/nature-3.jpg",
                "https://swiperjs.com/demos/images/nature-4.jpg"
            ]
        },

        {
            description: "Servicios de Caldera",
            images: [
                "https://swiperjs.com/demos/images/nature-1.jpg",
                "https://swiperjs.com/demos/images/nature-2.jpg",
                "https://swiperjs.com/demos/images/nature-3.jpg",
                "https://swiperjs.com/demos/images/nature-3.jpg",
                "https://swiperjs.com/demos/images/nature-4.jpg"
            ]
        }    
    ]